.text{
    text-align: center;
    margin: 60px; 
}
.trending{
    width:30%;
    height:30%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}